# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS
.DS_Store
Thumbs.db
